body {
    font-family: Roboto, "Open Sans", sans-serif;
    font-weight: 300; line-height: 1.4rem;

    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/

}

.padding-1 {
    padding: 1%;
}
.padding-2 {
    padding: 2%;
}

.padding-bottom-2 {
    padding-bottom: 2%;
}

.padding-top-1 {
    padding-top: 1%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-bottom-1em {
    margin-bottom: 0.5em;
}

.padding-margin-0 {
    padding: 0;
    margin: 0;
}

.colour-red {
    color: red;
}

.color-hr {
    color: #cccccc;
    border-color: inherit;
}

.disabled-link {
    color: #d6d6dc;
    pointer-events: none;
}

.dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }

.column-filter-btn {
    float:right;
    margin: 5px 20% 5px 5px;
}

.column-filter-popover {
    min-width:40%;
}